<%/* 
    Author: Robert Smith
    Description: Website home page static html
*/%>
        <div class="row customer-home">
            <div class="col-md-12 home-container">
                <div class="hero-banner hidden-xs">
                    <h1 class="hidden-xs">Save money, run more LEAN with ToolingInventory.com</h1>
                    <a href="./choose-a-plan" class="btn btn-primary cta">Start Your Free 30 Day Trial!</a>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <hr>
                    </div>
                </div>
                 <div class="row mid-banners">
                     

                     <div class="col-md-4">
                        <div class="panel panel-default mid-banner">
                         <div class="panel-heading">
                            <h3 class="panel-title">
                                <h2 class="text-center">Store</h2>
                            </h3>
                          </div>
                          <div class="panel-body">
                         <img src="images/storage.jpg" class="img-responsive thumbnail img-center">
                         <p class="hidden-xs">
                            ToolingInventory.com allows you to understand your machine shops tooling usage. 
                            With ToolingInventory.com you will be able to utilize LEAN manufacturing principiles 
                            to avoid excess tooling inventory and insure that when a job comes in you have the 
                            proper tooling to get it completed.
                         </p>
                          </div>
                          <div class="panel-footer">
                              <a href="./tutorials" class="btn btn-primary learn-more">Learn More</a>
                          </div>
                        </div>
                     </div>
                     
                     <div class="col-md-4">
                        <div class="panel panel-default mid-banner">
                         <div class="panel-heading">
                            <h3 class="panel-title">
                                <h2 class="text-center">Manage</h2>
                            </h3>
                          </div>
                          <div class="panel-body">
                         <img src="images/managment.jpg" class="img-responsive thumbnail img-center">
                         <p class="hidden-xs">
                            ToolingInventory.com gives you the ability to see how many tools are being used per job 
                            and which operators are using your tooling. It also allows your tooling attendant to set 
                            up auto email alerts for when tooling gets low. This gives you the ability to order more 
                            tooling before you run out. Allowing you to run more lean and ensure that you have the 
                            tooling to complete your job.
                         </p>
                          </div>
                          <div class="panel-footer">
                               <a href="./tutorials" class="btn btn-primary learn-more">Learn More</a>
                          </div>
                        </div>
                     </div>
                     
                     <div class="col-md-4">
                        <div class="panel panel-default mid-banner">
                         <div class="panel-heading">
                            <h3 class="panel-title">
                                <h2 class="text-center">Report</h2>
                            </h3>
                          </div>
                          <div class="panel-body">
                         <img src="images/report.jpg" class="img-responsive thumbnail img-center">
                         <p class="hidden-xs">
                            ToolingInventory.com keeps track of inventory shrinkage and trends. Understanding that 
                            your shop needs different tooling quantities during different times of the month and 
                            year will allow you to buy less tooling and keep your money investing in your company, 
                            not on excess inventory.
                         </p>
                          </div>
                          <div class="panel-footer">
                              <a href="./tutorials" class="btn btn-primary learn-more">Learn More</a>
                          </div>
                        </div>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-6 col-md-offset-3">
                         <hr>
                     </div>
                 </div>

                 <div class="row">
                
                     <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                      <div class="panel-heading">Product Demo!</div>
                      <div class="panel-body">
                        <div class="video-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/Q5iWelPDc1Q?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                        </div><br>
                        <!--<a href="/choose-a-plan" class="btn btn-success sign-up-btn">Start your 10 Day Trial!</a>-->
                      </div>
                    </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
    

    
    