<%/* 
    Author: Robert Smith
    Description: Website home page static html
*/%>
</div><!-- end home container-->
<div class="website-home">
             <div class="jumbotron">
                  <div class="container-fluid">
                      <div class="overlay"></div>
                      <div class="container">
                    <h1 class="h1">Save money, run more LEAN with ToolingInventory.com</h1>
                    <p><a class="btn btn-default main-cta btn-lg" href="/choose-a-plan" role="button">Start Today »</a></p>       
                      </div>

                  </div>
            </div>
            <div class="container">
        <div class="row customer-home">
            <div class="col-md-12 home-container">

                 <div class="row">
                     
                     <div class="col-md-12">
                         <div class="row">
                            <div class="col-md-5">
                                <img src="images/mac.jpg" class="img-responsive thumbnail img-center">
                            </div>
                             <div class="col-md-7">
                                 <h3>
                                    ToolingInventory.com allows you to understand your machine shops tooling usage. 
                                    With ToolingInventory.com you will be able to utilize LEAN manufacturing principiles 
                                    to avoid excess tooling inventory and insure that when a job comes in you have the 
                                    proper tooling to get it completed.
                                 </h3>
                                 <h3>
                                    ToolingInventory.com gives you the ability to see how many tools are being used per job 
                                    and which operators are using your tooling. It also allows your tooling attendant to set 
                                    up auto email alerts for when tooling gets low. This gives you the ability to order more 
                                    tooling before you run out. Allowing you to run more lean and ensure that you have the 
                                    tooling to complete your job.
                                 </h3>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid seperator">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>
                        <span class="glyphicon glyphicon-th"></span>
                        Manage Your Tooling
                    </h3>
                    <p>
                        Our average 30% fuel savings varies slightly between Regional and Long-Haul, but in both cases you start saving immediately.
                    </p>
                </div>
                <div class="col-md-4">
                    <h3>
                        <span class="glyphicon glyphicon-signal"></span>
                        Visualize Your Tooling
                    </h3>
                    <p>
                        Our average 30% fuel savings varies slightly between Regional and Long-Haul, but in both cases you start saving immediately.
                    </p>
                </div>
                <div class="col-md-4">
                    <h3>
                        <span class="glyphicon glyphicon-usd"></span>
                        Think LEAN
                    </h3>
                    <p>
                        Our average 30% fuel savings varies slightly between Regional and Long-Haul, but in both cases you start saving immediately.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
                    <div class="row customer-home">
            <div class="col-md-12 home-container">

                 <div class="row">
                     <div class="col-md-12">
                         <div class="row">
                             <div class="col-md-8">
                                <div class="card">
                                    <div class="overlay">
                                        <h1 class="text-center">DATA ANALYTICS</h1>
                                        <h3 class="text-center">FROM POWER CONSUMPTION AND FUEL SAVINGS TO SECURITY</h3>
                                        <a href="./landing-form" class="btn btn-default">LEARN MORE</a>
                                    </div>
                                </div>
                             </div>
                            <div class="col-md-4">
                                 <img src="images/phone.jpg" class="img-responsive img-center">
                             </div>
                         </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
       
    
</div>


    
    