<div class="row job-tracker">
    <div class="col-md-6">
        <form [formGroup]="jobStatusSettingsForm" novalidate>
            <label class="checkbox-inline"><input type="checkbox" name="machining" formControlName="machining">Machining</label>
            <label class="checkbox-inline"><input type="checkbox" name="quality" formControlName="quality">Quality</label>
            <label class="checkbox-inline"><input type="checkbox" name="staging" formControlName="staging">Staging</label>
            <label class="checkbox-inline"><input type="checkbox" name="waiting" formControlName="waiting">Waiting</label>
            <label class="checkbox-inline"><input type="checkbox" name="shipping" formControlName="shipping">Shipping</label>
        </form>
    </div>
    <div class="col-md-6" *ngIf="activeJob">
        <div class="alert alert-success active-job" role="alert">
            <span class="sr-only">Active Tool:</span>
            <span
                class="glyphicon glyphicon-remove pull-left danger"
                (click)="removeActiveJob()">
                </span>
         {{activeJob.companyName}}
            <span class="glyphicon glyphicon-arrow-right pull-right"></span>
        </div>
    </div>
</div>