.header {
  .hello {
    float: left;
  }
  .mobile-nav-admin {
    display: none;
  }
  .logo {
    max-width: 352px;
  }
  .navbar-header {
    height: 83px;
  }
  .navbar-right {
    margin-top: 25px;
  }
}