.sidebar {
  position: fixed;
  right: 0;
  height: 100%;
  background-color: transparent;
  z-index: 3333;
  .wrapper {
    overflow-y: scroll;
    height: 466px;
  }
  &.large {
    width: 332px;
    background-color: #f8f8f8;
    border-top: 1px solid rgba(0, 0, 0, 0.45);
    border-left: 1px solid rgba(0, 0, 0, 0.45);
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
  }
  .btn-group {
    float: right;
    width: 100%;
    button {
      width: 50%;
      border-radius: 0px;
    }
  }
  .body {
    padding: 20px;
    padding-top: 50px;
    background-color: #f8f8f8;
  }
  .action {
    width: 40% !important;
  }
  .show-hide {
    width: 20% !important;
  }
  .full-width {
    width: 100% !important;
  }
  .no-padding {
    padding: 0 !important;
  }
}