<div class="sidebar" [ngClass]="{'large': !hide}" *ngIf="sidebarHidden">
  <div class="body" [ngClass]="{'no-padding': hide}">
    <div class="wrapper">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-success active-job">
            <button (click)="removeActiveJob()" class="btn btn-danger">Close</button>
            <span>
                {{ activeJob.companyName}}
            </span>
          </div>
        </div>
      </div>
      <form [formGroup]="jobForm" novalidate>
        <div class="form-group">
          <label>Company Name: </label>
          <input class="form-control" name="companyName" formControlName="companyName">
        </div>
        <div class="form-group">
          <label>Job Name: </label>
          <input class="form-control" name="jobName" formControlName="jobName">
        </div>
        <div class="form-group">
          <label>Contact Name: </label>
          <input class="form-control" name="contactName" formControlName="contactName">
        </div>
        <div class="form-group">
          <label>Contact Email: </label>
          <input class="form-control" name="contactEmail" formControlName="contactEmail">
        </div>
        <div class="form-group">
          <label>Job Id: </label>
          <input class="form-control" type="number" name="jobId" formControlName="jobId">
        </div>
        <div class="form-group">
          <label>Process</label>
          <select name="process" class="form-control" formControlName="process">
              <option value="">Select Stage</option>
              <option value="1">Machining</option>
              <option value="2">Quality</option>
              <option value="0">Staging</option>
              <option value="5">Waiting</option>
              <option value="3">Shipped</option>
            </select>
        </div>
        <button 
            class="btn btn-primary"
            (click)="updateJob()">
          Update
        </button>
      </form>
</div>
</div>