<!DOCTYPE html>
<html>
    <head>
<link rel="apple-touch-icon" sizes="57x57" href="../images/icon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="../images/icon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="../images/icon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="../images/icon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="../images/icon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="../images/icon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="../images/icon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="../images/icon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="../images/icon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="../images/icon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="../images/icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="../images/icon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="../images/icon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../styles.css" rel="stylesheet">
        <link href="../tutorials.css" rel="stylesheet">
        <style>

        </style>
    </head>
    <body>
<nav class="navbar navbar-default navbar-fixed-top __web-inspector-hide-shortcut__">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
              <!-- Logo here -->
              <img src="../images/long-logo.png" class="img-responsive">
          </a>
        </div>
        <div id="bs-example-navbar-collapse-1" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav">

          </ul>
          <ul class="nav navbar-nav navbar-right">
            
            <li><a href="/">Home</a></li>
                <li><a href="/choose-a-plan">Sign Up</a></li>
                <li><a href="/tutorials">Features</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/login">Log in here</a></li>
                <li><a href="/landing-form">Contact Us</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
      
    </nav>
        <div class="container">
            <div class="row desks-workstations-row" style="margin-top: 2%;">
            	<div class="col-md-10 col-md-offset-1 videos-col">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="../images/add-tool.png" class="img-responsive thumbnail">
                        </div><!-- end col-md-6 -->
                        <div class="col-md-7">
                            <a href=".././keeping-track-of-your-tooling">
                                <h3 class="video-heading">
                                    Why keeping track of your machine shops tooling usage affects your bottom line.
                                </h3>  
                            </a>
                       <p>
                           First we are going to talk about a scenario where a machine shop does not keep track 
                           of their tooling usage at all. A job comes into this machine shop that will take about 
                           a month to complete. It involves heavy milling operations and is a 5,000 piece order. 
                       </p>
                       <p>
                           The job goes smoothly, the parts look great and the customer is happy. Now it is time 
                           to create your invoice for the job. You pull out some paper and jot some numbers down 
                           estimating that you could get 5 parts done per tool and with 5,000 pieces that should 
                           be 1,000 tools used. This guestimation for tooling usage of a job can be detrimental 
                           to your business. We will assume that these tools are .375” 4 Flute carbide endmils 
                           for some profiling work. These tools range from $30 to $80 dollars per tool. If your 
                           estimations on a job this size are off by even 10 percent it could cost your shop thousands<a href=".././keeping-track-of-your-tooling">...</a> 
                       </p>
                        </div><!-- end col-md-6 -->
                    </div><!-- end row -->
                          <div class="row desks-workstations-btn-row">
                            	<div class="col-md-12 text-center">
                                	<a href=".././keeping-track-of-your-tooling" class="tutorial-cta">Read More!</a>
                                </div><!-- end col-md-12 -->
                            </div><!-- end row -->
                </div><!-- end col-md-8 col-md-offset-4 -->
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <hr>
                </div>
            </div>
            <div class="row desks-workstations-row" style="margin-top: 2%;">
            	<div class="col-md-10 col-md-offset-1 videos-col">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="../images/gear-t.png" class="img-responsive thumbnail">
                        </div><!-- end col-md-6 -->
                        <div class="col-md-7">
                            <a href=".././what-is-tooling-inventory-cnc">
                                <h3 class="video-heading">
                                    What is ToolingInventory.com?
                                </h3>  
                            </a>
                       <p>
                        ToolingInventory.com was created with a common goal in mind, to help 
                        shops keep track of how they are using their machine tooling and to 
                        give management the ability to have better insight into their business. 
                        How could having the ability to track your tooling affect your business? 
                        When you utilize ToolingInventory.com the imbedded features will be able 
                        to help you understand how many tools that you have in your crib to date 
                        and how your tools are used once inside your company. This insures that 
                        you have the proper amount of tooling to get your jobs machined and out 
                        door, without any unexpected outcomes.  
                       </p>
                       <p>
                        Once you’re working in the ToolingInventory.com environment we analyze 
                        your checkouts and give you insights into how your operators are using 
                        your tooling. Your tooling is one of the largest consistent expenditures 
                        in your machining process, would it help to be able to track and be able 
                        to follow that expenditure? With ToolingInventory.com you will be able to 
                        understand what operators are using your tooling, what job your tools are 
                        being used on and how many tools remain in your crib<a href="../../what-is-tooling-inventory-cnc">...</a>  
                       </p>
                        </div><!-- end col-md-6 -->
                    </div><!-- end row -->
                          <div class="row desks-workstations-btn-row">
                            	<div class="col-md-12 text-center">
                                	<a href=".././what-is-tooling-inventory-cnc" class="tutorial-cta">Read More!</a>
                                </div><!-- end col-md-12 -->
                            </div><!-- end row -->
                </div><!-- end col-md-8 col-md-offset-4 -->
            </div>
        </div>
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!--<script src="../js/app.js"></script>-->
        
    </body>
</html>
