<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../styles.css" rel="stylesheet">
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77516816-1', 'auto');
  ga('send', 'pageview');

</script>
        <style>
            #notice {
              display: block;
            }
            body {
                padding-top: 10px;
            }
        </style>
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
        <script type="text/javascript">
          
          
          
            $(function() {
              var $form = $('#payment-form');
              $form.submit(function(event) {
                // Disable the submit button to prevent repeated clicks:
                $form.find('.submit').prop('disabled', true);
            
                // Request a token from Stripe:
                Stripe.card.createToken($form, stripeResponseHandler);
            
                // Prevent the form from being submitted:
                return false;
              });
              
                function stripeResponseHandler(status, response) {
                  // Grab the form:
                  var $form = $('#payment-form');
                
                  if (response.error) { // Problem!
                
                    // Show the errors on the form:
                    $form.find('.payment-errors').text(response.error.message);
                    $form.find('.submit').prop('disabled', false); // Re-enable submission
                
                  } else { // Token was created!
                
                    // Get the token ID:
                    var token = response.id;
                
                    // Insert the token ID into the form so it gets submitted to the server:
                    $form.append($('<input type="hidden" name="stripeToken">').val(token));
                
                    // Submit the form:
                    $form.get(0).submit();
                  }
                };
              
            });
        </script>
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>
    <body class="money">
<nav class="navbar navbar-default navbar-fixed-top __web-inspector-hide-shortcut__">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
              <!-- Logo here -->
              <img src="./images/long-logo.png" class="img-responsive">
          </a>
        </div>
        <div id="bs-example-navbar-collapse-1" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav">

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/choose-a-plan">Sign Up</a></li>
            <li><a href="/tutorials">Features</a></li>
            <li><a href="/login">Log in here</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
      
    </nav>
    <div class="container">
            <div class="row plan-row">
                <div class="col-md-8 col-md-offset-2 ">
                    <div class="panel-group payment-box">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="text-center"><strong>0 - 150 Unique Tools<br>Your card will not be billed unless you choose to stay!</strong></h4>
                        </div>
                        <div class="panel-body">
                            <h4 class="text-center options-heading">$1,250/year</h4>

                            <div class="row">
                                        <div class="col-md-12" style="margin-top:27px;">
                                                <div id="notice" role="alert">
                                                    <p id="notice-text" class="text-center">
                                                      <% if(paymentErr) { %>
                                                        There was an error processing your payment
                                                      <% } %>
                                                      <% if(usernameExists) { %>
                                                        Uh Oh the username you choses is already taken.. Please try again.
                                                      <% } %>
                                                    </p>
                                                </div>
                                            
                                            
                                            
                                            
                                        </div>
                                    </div>
                            <form action="" method="POST" id="payment-form">
                              <div class="row">
                                <div class="col-md-6">
                                  <h3 class="text-center">About You</h3>
                                <div class="form-group">
                                    <input placeholder="Name" class="form-control" name="name" required>
                                </div>
                                <div class="form-group">
                                    <input placeholder="Email" class="form-control" type="email" name="email" required>
                                </div>
                                <div class="form-group">
                                    <input placeholder="Company Name" class="form-control" name="companyName" required>
                                </div>
                                <div class="form-group">
                                    <input placeholder="User Name" class="form-control" name="username" required>
                                </div>
                                <div class="form-group">
                                    <input placeholder="Password" class="form-control" name="password" id="password" type="password" required>
                                </div>
                                <div class="form-group">
                                    <input placeholder="Re Enter Password" class="form-control" id="password-match" name="reEnterPassword" type="password" required>
                                </div>
                                </div>
                                <div class="col-md-6">
                              <h3 class="text-center">Payment Method</h3>
                              <div class="form-group">
 
                                  <input placeholder="Card Number" data-stripe="number" id="cc-number" type="tel" class=" form-control cc-number" autocomplete="cc-number" placeholder="•••• •••• •••• ••••" required>
                      
                              </div>
                            
                              <div class="form-row">
                                <label>
                                  <span>Expiration (MM/YY)</span>
                                </label>
                                <div class="row">
                                    <div class="col-md-5">
                                        <input placeholder="MM" type="text" size="2" data-stripe="exp_month" class="form-control" required>
                                    </div>
                                    <div class="col-md-1">
                                        <span class="mm-year-seperator"> / </span>
                                    </div>
                                    <div class="col-md-5">
                                        <input placeholder="YY" type="text" size="2" data-stripe="exp_year" class="form-control" required>
                                    </div>
                                </div>
                              </div>
                              <div class="form-row">
                                <label>
                                  <span>CVC</span>
                                  <input data-stripe="cvc" id="cc-cvc" type="tel" class=" form-control cc-cvc" autocomplete="off" placeholder="•••" required>
                                </label>
                              </div>
                              <div class="form-group captcha">
                                <div class="g-recaptcha" data-sitekey="6LfdOyUTAAAAALskQSbZ1kbbXtUknYcVtdd5_HAz"></div>

                              </div>
                            
                              <input type="submit" class="submit btn btn-primary" value="Submit Payment">
                                </div>
                              </div>


                            </form>   
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Here -->
    <footer>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <a class="footer-brand" href="/">
                    <img src="./images/logo.png" class="img-responsive">
                </a>
            </div>
        </div>
    </footer>

        
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../js/payment.min.js"></script>
  <script>
    jQuery(function($) {
      $('[data-numeric]').payment('restrictNumeric');
      $('.cc-number').payment('formatCardNumber');
      $('.cc-exp').payment('formatCardExpiry');
      $('.cc-cvc').payment('formatCardCVC');
      $.fn.toggleInputError = function(erred) {
        this.parent('.form-group').toggleClass('has-error', erred);
        return this;
      };
      $('form').submit(function(e) {
        e.preventDefault();
        var cardType = $.payment.cardType($('.cc-number').val());
        $('.cc-number').toggleInputError(!$.payment.validateCardNumber($('.cc-number').val()));
        $('.cc-exp').toggleInputError(!$.payment.validateCardExpiry($('.cc-exp').payment('cardExpiryVal')));
        $('.cc-cvc').toggleInputError(!$.payment.validateCardCVC($('.cc-cvc').val(), cardType));
        $('.cc-brand').text(cardType);
        $('.validation').removeClass('text-danger text-success');
        $('.validation').addClass($('.has-error').length ? 'text-danger' : 'text-success');
      });
    });
    
    var stripeModeTest = true;
    var stripeKey;
    var stripeKeys = {
      test: 'pk_test_7ySNAoNYSJEwRZuD6xaPec4Z',
      live: 'pk_live_WAT0XAXb4Hw3KJvnZQVl2IuX'
    }
    if (stripeModeTest) {
      stripeKey = stripeKeys.test
    } else {
      stripeKey = stripeKeys.live
    }
    
    Stripe.setPublishableKey(stripeKey);
  </script>
  <script src="./js/payment-app.js"></script>
    </body>
</html>