<!DOCTYPE html>
<html>
    <head>
        <link rel="apple-touch-icon" sizes="57x57" href="./images/icon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="./images/icon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="./images/icon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="./images/icon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="./images/icon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="./images/icon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="./images/icon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="./images/icon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="./images/icon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="./images/icon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./images/icon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="./images/icon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="./images/icon/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="./dist/css/main.css" rel="stylesheet">
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '226020094424048'); 
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=226020094424048&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        
          ga('create', 'UA-77516816-1', 'auto');
          ga('send', 'pageview');
        
        </script>
    </head>
    <body style="padding-top: 100px; background-color: grey;" class="landing-form">
        
        <% include ./src/components/primary-nav.ejs %>
        
        <div class="container contact">
            <div class="jumbotron">
                <div class="overlay"></div>
              <div class="container">
                <h1>Want to keep track of your tooling like never before?</h1>
                <h3>Fill out the form below to talk to a trusted advisor.</h3>
              </div>
            </div>
            <div class="row" style="margin-top: 3px;">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <h1>Want more information? Get in touch with a tooling advisor.</h1>
                    <p>
                        Thanks for visiting ToolingInventory.com. Whether you're considering partnering 
                        with us or just looking for more information about ToolingInventory.com, we're happy 
                        to answer any questions and help set you up for success. Simply fill out this form and a 
                        ToolingInventory.com tooling advisor will be in touch with you shortly.
                    </p>
                    <img src="./images/mac.jpg" class="img-responsive mac img-center">
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-12">
                      <div class="panel panel-default mid-banner">
                        <div class="panel-heading contact-heading">
                            <h2 class="pn-heading">More Information</h2>
                        </div>
                        <div class="panel-body">
                            <div class="form-wrap">
                               <% include ./src/components/long-contact-form.ejs %> 
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>