body {
    
}

.alert-div {
    position: relative;
    z-index: 1;
}

.alert {
    padding-top: 4px;
    width: 74%;
    padding-bottom: 5px;
}

.alert p {
    font-size: 16px;
    padding-top: 1px;
    padding-bottom: 3px;
}
.alert-success {
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    display: inline-block;
    margin: auto;
    margin-bottom: 0px !important;
    float: right !important;
    border-color: #d6e9c6 !important;
}

.jobadd .alert-success {
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    display: block;
    margin: auto;
    margin-bottom: 12px !important;
    
    float: none !important;
    border-color: #d6e9c6 !important;
}