<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head.ejs %>
</head>
<body>
<% include ./partials/navbar.ejs %>
<div class=" my-account">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default alert-div">
                            <div class="panel-heading">Email Alerts</div>
                            <div class="panel-body">
                                <form action="/add-tooling-rep" method="POST">
                                    <div class="form-group">
                                        <label>Rep Name: </label>
                                        <input class="form-control" name="toolingRepName"
                                               value="<%= user.toolingRep.name %>" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Rep Email: </label>
                                        <input class="form-control" type="email" name="toolingRepEmail"
                                               value="<%= user.toolingRep.email %>" required>
                                    </div>
                                    <input type="submit" class="btn btn-primary" value="Add">
                                    <% if(successToolRep == false) { %>
                                    <div class="alert alert-danger" role="alert">
                                        <p class="text-center">Uh Oh Something Went Wrong</p>
                                    </div>
                                    <% } else if (successToolRep == true) { %>
                                    <div class="alert alert-success" role="alert">
                                        <p class="text-center">Success</p>
                                    </div>
                                    <% } else if (addedJob == null) { %>

                                    <% } %>
                                </form>
                            </div>
                        </div> 
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default alert-div">
                            <div class="panel-heading">Add Operator</div>
                            <div class="panel-body">

                                <form action="/add-operator" method="POST">
                                    <div class="form-group">
                                        <label>Operator Name: </label>
                                        <input class="form-control" name="operatorName" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Operator Id: </label>
                                        <input class="form-control" name="operatorId" required>
                                    </div>
                                    <input type="submit" class="btn btn-primary" value="Update">
                                    <% if(addOperator == false) { %>
                                    <div class="alert alert-danger" role="alert">
                                        <p class="text-center">Update Failed</p>
                                    </div>
                                    <% } else if (addOperator == true) { %>
                                    <div class="alert alert-success" role="alert">
                                        <p class="text-center">Success</p>
                                    </div>
                                    <% } else if (addOperator == null) { %>

                                    <% } %>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel graph-panel panel-default">
                            <div class="panel-heading">Tool Usage Overview Per Job</div>
                            <div class="panel-body">

                                <div id="carousel-example-generic" data-interval="false" class="carousel slide"
                                     data-ride="carousel">
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <div class="chart-crib" id="donut-chart"></div>
                                        </div>
                                        <div class="item">
                                            <div class="chart-crib" id="bar-chart"></div>
                                        </div>
                                    </div>

                                    <!-- Controls -->
                                    <a class="left carousel-control" href="#carousel-example-generic" role="button"
                                       data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-example-generic" role="button"
                                       data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>


                                <!--<div id="error"></div>-->
                                <!--<div id="chart"></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Active Job</div>
                            <div class="panel-body">
                                <form action="/add-job" method="POST">
                                    <div class="form-group">
                                        <label>Company Name: </label>
                                        <input class="form-control" name="companyName" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Job Name: </label>
                                        <input class="form-control" name="jobName" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Contact Name: </label>
                                        <input class="form-control" name="contactName" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Contact Email: </label>
                                        <input class="form-control" name="contactEmail" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Process</label>
                                        <select name="process" class="form-control" required>
                                            <option value="">Select Stage</option>
                                            <option value="1">Machining</option>
                                            <option value="2">Quality</option>
                                            <option value="0">Staging</option>
                                            <option value="5">Waiting</option>
                                            <option value="3">Shipped</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Job Id: </label>
                                        <input class="form-control" type="number" name="jobId" required>
                                    </div>
                                    <input type="submit" class="btn btn-primary" value="Update">
                                    <% if(addedJob == false) { %>
                                    <div class="alert alert-danger" role="alert">
                                        <p class="text-center">Add Job Failed</p>
                                    </div>
                                    <% } else if (addedJob == true) { %>
                                    <div class="alert alert-success" role="alert">
                                        <p class="text-center">Success</p>
                                    </div>
                                    <% } else if (addedJob == null) { %>

                                    <% } %>
                                    <% if (jobIdExists == true) { %>
                                    <div style="width: 50%; float:right;" class="alert alert-danger" role="alert">
                                        <p class="text-center" style="font-size: 13px;">Job Id Exists</p>
                                    </div>
                                    <% } %>
                                </form>
                            </div>
                        </div>
            </div>
        </div>

        <div class="row">


                <a class="btn btn-dagner" data-toggle="modal" data-target="#myModal">Deactivate</a>
            </div>
        </div>

    </div>


    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">We are sorry you are leaving. <span style="color: red;">Your data will be lost.</span>
                    </h4>
                </div>
                <div class="modal-body">

                    <p>Please let us know how we could improve...</p>
                    <form action="/deactivate" method="POST">
                        <div class="form-group">
                            <label>Message:</label>
                            <textarea name="message" class="form-control" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-danger" style="margin-top: 15px;">Deactivate</button>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="../bower_components/d3/d3.min.js"></script>
    <script src="../bower_components/c3/c3.min.js"></script>
    <script src="./dist/js/my-account.js"></script>
</body>
</html>