<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../styles.css" rel="stylesheet">
    </head>
    <body>
     <nav class="navbar navbar-inverse navbar-fixed-top __web-inspector-hide-shortcut__">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">ToolingInventory.com</a>
        </div>
        <div id="bs-example-navbar-collapse-1" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

          </ul>
          <ul class="nav navbar-nav navbar-right">
                <li><a href="/tutorials">Features</a></li>
                <li><a href="/choose-a-plan">Try It Free</a></li>
                <li><a href="/login">Log in here</a></li>
     
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
        <div class="container" style="margin-top: 20px;">
            <div class="row">
                <div class="col-md-7">
                    <div class="panel panel-default">
                      <div class="panel-heading">Product Demo!</div>
                      <div class="panel-body">
                        <div class="video-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/Q5iWelPDc1Q?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <h4>
                        Our goal at ToolingInventory.com is to keep your machine shop lean. We believe that you should know where your tooling is going and who is 
                        using it. ToolingInventory.com will alert you when tooling is low as well as keep track of tooling checkouts for each job on your floor.
                    </h4>
                    <h4>
                        We want to help you compete agains forign manufacturing using technology. ToolingInventory.com allows you to reduce excess tooling where 
                        not needed while giving you comfort that you have the tools to do the jobs. 
                    </h4>
                    <h4>
                        ToolingInventory.com allows you to keep track of tooling for jobs. We can analyze your tooling usage using the latest technologys to 
                        look at trends and give you projections of where your tooling usage is going. 
                    </h4>
                    <a href class="btn btn-success tutorial-cta">Sign Up Free!</a>
                </div>
            </div>
            <div class="row" style="margin-top: 8px;">
                <div class="col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-heading">How to view tool usage by operator</div>
                      <div class="panel-body">
                        <div class="video-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/excYffJ-Uns?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-heading">Download your tooling usage</div>
                      <div class="panel-body">
                        <div class="video-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/QExkIs_xMGU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-heading">How to add a job</div>
                      <div class="panel-body">
                        <div class="video-container">
                           <iframe width="560" height="315" src="https://www.youtube.com/embed/2tZD32zY988?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 8px;">
                <div class="col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-heading">How to view tool usage by job</div>
                      <div class="panel-body">
                        <div class="video-container">
                           <iframe width="560" height="315" src="https://www.youtube.com/embed/WqbNdj3UjYc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-heading">How to add a tool</div>
                      <div class="panel-body">
                        <div class="video-container">
                           <iframe width="560" height="315" src="https://www.youtube.com/embed/lcLmGIwMCX8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="video-container">
                    </div>
                </div>
            </div>
        </div>
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <!--<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->
        <!--<script src="../js/app.js"></script>-->
        
        

        
    </body>
</html>
