<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body>
<% include ./partials/navbar.ejs %>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel tools-list-panel panel-default">
                        <div class="panel-heading">View Operators</div>
                            <div class="panel-body" id="operators">
            <div class="row admin-header hidden-xs hidden-sm">
                <div class="col-md-5">Name</div>
                <div class="col-md-2">Operator Id</div>
                <div class="col-md-5 text-center">Actions</div>
            </div>
            <div class="list">
                <% for (var i=0; i<operators.length; i++) {%>
                    <div class="row tools-row tools-row-admin">
                        <div class="col-md-5">
                            <p class="table-value table-btn-p name operator-name"><%= operators[i].operatorName%></p>
                        </div>
                        <div class="col-md-2 text-center">
                            <p class="table-value table-btn-p operatorId"><span class="hidden-xl hidden-lg hidden-md">Operator Id: </span><%= operators[i].operatorId%></p>
                        </div>
                        <div class="col-md-5 text-center">
                            <a href="/view-operator-tooling/?operatorId=<%= operators[i].operatorId %>" class="btn btn-primary action-btn">Tool Usage</a>
                            <a href="/remove-operator/?operatorId=<%= operators[i].operatorId %>" class="btn btn-danger action-btn" onclick="return confirm('Are you sure you want to remove operator?')">Remove Operator</a>
                        </div>                    
                    </div>

                <% } %>
                <% if (operators.length === 0) { %>%>
                <div class="panel panel-danger" style="margin-top: 30px;">
                    <div class="panel-heading">
                        <h1>There are no operators yet.</h1>
                        <a href="/my-account" class="btn btn-primary">Add Your First Operator</a>
                    </div>
                </div>
                <% } %>
                                <!-- Go back to this hacky as f -->
                                <div style="display:none;">
                                  <!-- A template element is needed when list is empty, TODO: needs a better solution -->
                                  <li id="hacker-item">
                                   <h3 class="name"></h3>
                                   <p class="city"></p>
                                  </li>
                                </div>
            </div>
                            
                        
                                    </div>
                                </div>
                            </div>
                        </div>
        </div>
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/list.js/dist/list.min.js"></script>       
    </body>
</html>