.my-account {
  padding-top: 65px;
  .carousel-control {
    background-image: none;
    height: 65px;
    background-color: #43bea1;
    border: 1px solid black;
    .glyphicon {
      margin-top: -15px;
    }
    .glyphicon-chevron-left, .glyphicon-chevron-right {
      &:before {
        color: #ffffff;
      }
    }
  }
}