#right-nav {
  position: fixed;
}

.job-wrapper {
  cursor: pointer;
  margin-top: 20px;
}

.caption {
  position: relative;
  .add-job {
    position: absolute;
    right: 10px;
  }
}
.checkbox {
  margin-top: 23px;
  margin-bottom: 29px;
  span {
    font-size: 18px;
  }
  input {
    margin-right: 20px;
    display: block;
    cursor: pointer;
  }
}

.line-through {
  text-decoration: line-through;
}


.body {
  background-color: #eeeeee !important;
}



.row {
  &.machining {
    background-color: rgba(82, 172, 86, 0.16);
    border: 1px solid grey;
  }
  &.staging { 
    background-color: rgba(11, 179, 200, 0.18);
    border: 1px solid grey;
  }
  &.quality {
    background-color: rgba(158, 55, 180, 0.22);
    border: 1px solid grey;
  }
  &.shipping {
    background-color: rgba(253, 154, 20, 0.15);
    border: 1px solid grey;
  }
  &.waiting {
    background-color: rgba(234, 70, 66, 0.12);
    border: 1px solid grey;
  }     
}
