<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../styles.css" rel="stylesheet">
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77516816-1', 'auto');
  ga('send', 'pageview');

</script>
        <style>
            #notice {
              display: block;
            }
            body {
                padding-top: 95px;
                text-align: left;
            }
            .container {
                background-color: white;
            }
            .blog-container {
                padding-top: 20px !important;
                margin-top: -33px !important;
            }
        </style>
    </head>
    <body>
<nav class="navbar navbar-default navbar-fixed-top __web-inspector-hide-shortcut__">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
              <!-- Logo here -->
              <img src=".././images/long-logo.png" class="img-responsive">
          </a>
        </div>
        <div id="bs-example-navbar-collapse-1" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav">

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/choose-a-plan">Sign Up</a></li>
            <li><a href="/tutorials">Features</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/login">Log in here</a></li>
            <li><a href="/landing-form">Contact Us</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
      
    </nav>
    <div class="container blog-container">
       <h1>Why keeping track of your machine shops tooling usage affects your bottom line.</h1>
       <p>
           First we are going to talk about a scenario where a machine shop does not keep track 
           of their tooling usage at all. A job comes into this machine shop that will take about 
           a month to complete. It involves heavy milling operations and is a 5,000 piece order. 
       </p>
       <p>
           The job goes smoothly, the parts look great and the customer is happy. Now it is time 
           to create your invoice for the job. You pull out some paper and jot some numbers down 
           estimating that you could get 5 parts done per tool and with 5,000 pieces that should 
           be 1,000 tools used. This guestimation for tooling usage of a job can be detrimental 
           to your business. We will assume that these tools are .375” 4 Flute carbide endmils 
           for some profiling work. These tools range from $30 to $80 dollars per tool. If your 
           estimations on a job this size are off by even 10 percent it could cost your shop thousands. 
       </p>
       <p>
           ToolingInventory.com gives you tooling data for each of your jobs so you know exactaly what 
           you need to charge to stay profitable. ToolingInventory.com has data visulizations that show 
           what tools and how many of those tools were used on a particular job. 
       </p>
       <img src=".././images/job.jpg" class="img-responsive thumbnail">
       <p>
           Now let's look at another scenario that can come up if you are not keeping track of your tooling. 
           Suppose with this job you are using a specialty tool that take 1 week to order. Think about what 
           would happen if you are running great on this job and you run out of tools with 100 pieces left 
           in the job. You now have to call your customer and tell them that their job will be 1 week behind 
           schedule. Depending on the circumstance that could be devastating to your shop's reputation and 
           for your customers project. Keeping track of your tooling and making sure you keep your tools 
           in stock is vital to keeping to deadlines.
       </p>
       <p>
           Now let's look at problem that looks innocent however can cost your shop thousands of dollars.
           Suppose that you have about 200 unique tools in your tooling crib. You never want to run out of 
           tools so you always keep extra of each tool. Storing excess tooling can quickly add up to a lot 
           of money and depending on the quantity you can be taxed on your excess inventory. To be 
           competitive you need to keep track of your tooling usage and keep the correct amount of tooling. 
           One of our solutions specialists at ToolingInventory.com can help you look at your past work 
           to determine a good number of tools to keep in your crib. 
       </p>
       <p>
           Being able to manage your tooling and keep track of it anywhere at anytime is what 
           ToolingInventory.com allows your shop to do. 
       </p>
       <img src=".././images/data-screen.png" class="img-responsive thumbnail">
       <p>
           Another way that keeping track of your shops tooling affects your bottom line is 
           by saving you time. Keeping track of your shops tooling can involve setting up auto 
           ordering on tooling that you commonly use. Automating your tooling ordering allows 
           you to always have tools in stock while not ordering excess tooling.

       </p>
       <img src=".././images/my-account.png" class="img-responsive thumbnail">
       <p>
           ToolingInventory.com makes it east to set up automatic email alerts/email orders. Simply 
           enter the email that you want to notify if your tooling gets low and have ToolingInventory.com 
           keep track of your orders. When you add a tool to ToolingInventory.com you can set a minimum 
           amount of tools you want and ideal amount of tools you want. Once a tool qty reaches the 
           minimum amount it orders the correct amount of tools to get you back to your “ideal amount” 
           that you set. 
       </p>
       <img src=".././images/add-tool.png" class="img-response thumbnail img-center">
       <p>
           If you are interested in keeping track of your shops tooling check out our site and sign up for a 
           free trial. ToolingInventory.com is easy to set up and implement while giving your shop powerful 
           methods of monitoring your tooling usage. 
       </p>
    </div>
        <!-- Footer Here -->
    <footer>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <a class="footer-brand" href="/">
                    <img src=".././images/logo.png" class="img-responsive">
                </a>
            </div>
        </div>
    </footer>

        
        <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    </body>
</html>