<div class="row">
  <div class="col-md-12">
      <div class="alert alert-default" [ngClass]="{'toggle-edit': edit }">
        <button class="btn btn-default edit" [ngClass]="(edit)?'btn-primary':'btn-default'" (click)="toggleEdit()">
          {{ editSaveText }} <span class="glyphicon glyphicon-edit  pull-right"></span>
        </button>
        <div class="row">
          <form [formGroup]="form" #f="ngForm">
            <div class="col-md-2">
              <div class="user-bubble" *ngIf="job" [ngClass]="getCSSClasses(f.value.jobStatus)">
                <span class="name label-toggle">{{ f.value.companyName }}</span>
                <input class="form-control" formControlName="companyName">
              </div>
            </div>
            <div class="col-md-4 contact" *ngIf="job">
              <div class="panel panel-default">
                <div class="panel-heading" [ngClass]="getCSSClasses(f.value.jobStatus)">
                 <span class="pull-left">Company Information</span>
                  <div class="form-group status-form">
                    <span class="label-toggle">{{ f.value.jobStatus | jobStatus: f.value.jobStatus }}</span>
                    <select class="form-control" formControlName="jobStatus">
                      <option></option>
                      <option value="0">Staging</option>
                      <option value="1">Machining</option>
                      <option value="2">Quality</option>
                      <option value="3">Finished</option>
                      <option value="4">Shipped</option>
                      <option value="5">Removed</option>
                    </select>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="content-box">
                    <div class="form-group">
                      <label>Contact: </label>
                      <span class="label-toggle">{{ f.value.contactName }}</span>
                      <input class="form-control" formControlName="contactName">
                    </div>
                    <div class="form-group">
                      <label>Primary Phone: </label>
                      <span class="label-toggle">{{ f.value.contactPhoneNumber }}</span>
                      <input class="form-control" formControlName="contactPhoneNumber">
                    </div>
                    <div class="form-group">
                      <label>Primary Email: </label>
                      <span class="label-toggle">{{ f.value.contactEmail }}</span>
                      <input class="form-control" formControlName="contactEmail">
                    </div>
                    <div class="form-group">
                      <label>Job Description: </label>
                      <span class="label-toggle">{{ f.value.jobDescription }}</span>
                      <textarea class="form-control job-description" formControlName="jobDescription"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <div class="col-md-6">

          </div>
          <div class="col-xs-12 h4 content-row">
            <div class="panel panel-default">
              <div class="panel-heading" [ngClass]="getCSSClasses(f.value.jobStatus)">Tooling Usage</div>
              <table class="table">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Job Name</th>
                  <th>Parts Due</th>
                  <th>Due Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">

          </div>

        </div>
      </div>
  </div>
</div>
